#include "resource.h"

DLG_Scroll DIALOGEX 100,100,150,92
STYLE WS_VISIBLE
BEGIN
  CONTROL "",ED_Color,"Static",WS_CHILD|WS_VISIBLE|SS_LEFT,10,2,145,10
  CONTROL "",ColorScr,"SCROLLBAR",WS_CHILD|WS_VISIBLE,0,12,145,10
  CONTROL "",ED_Width,"Static",WS_CHILD|WS_VISIBLE|SS_LEFT,10,22,145,10
  CONTROL "",HorzScr,"SCROLLBAR",WS_CHILD|WS_VISIBLE,0,32,145,10
  CONTROL "",ED_Height,"Static",WS_CHILD|WS_VISIBLE|SS_LEFT,10,42,145,10
  CONTROL "",VertScr,"SCROLLBAR",WS_CHILD|WS_VISIBLE,0,52,145,10
  CONTROL "&OK",BTN_OK,"Button",WS_VISIBLE|WS_CHILD,60,62,30,15
END
